
<h2>Js Demo</h2>

<%= image_tag 'tower.jpg' , id: 'img' %>
<hr>
<%= image_tag 'beer.png' , id: 'img2', width: 200 %>
<hr>
<%= image_tag 'wheel.png' , id: 'img4', width: 600 %>


<hr>
<center>
  <h1>&#9660;</h1>
  <%= image_tag 'wheel.png' , id: 'img3', width: 600 %>
</center>